<phpunit
        bootstrap="test/bootstrap.php"
        backupGlobals="false"
        colors="true"
        verbose="true"
>
    <testsuites>
        <!-- Default test suite to run all tests -->
        <testsuite>
            <directory prefix="test_" suffix=".php">test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./lib</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="coverage" charset="UTF-8" highlight="true" />
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false" />
    </logging>
</phpunit>
